* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: qatar2022arabic-heavy;
    src: url(./fonts/Qatar2022/Qatar2022Arabic-Heavy.ttf)
}

body, html {
    height: 100%;
}

body {
    background-color: #ccc;
}

:root {
    --vermelho-qtar: #800000;
    --dark-vermelho-qtar: #5a0000;
}